# requirements.txt

google-generativeai
draccus
git+https://github.com/kvablack/dlimp.git
tensorflow   # TensorFlow 本体 (CPU版またはGPU版がインストールされます。特定のバージョンが必要な場合は tensorflow==X.Y.Z のように指定)
tensorflow-graphics
opencv-python # OpenCVのPythonバインディング
mediapy
rich
scikit-learn
git+https://github.com/huggingface/lerobot.git
transformers  # Hugging Face Transformers
moviepy
ipdb
